@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,300&display=swap");
* {
  box-sizing: border-box;
  /*
  outline: 1px solid black;
  */
  color: #fff;
}
html {
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}

body {
  background-image: linear-gradient(to bottom, #2a6fcd, #5683ff);
  margin: 0;
  overflow-x: hidden;
  font-family: "Questrial", sans-serif;
}

.container-fluid {
  padding-right: 20%;
}

.navbar {
  width: 100%;
  background-color: #ffffff00;
  box-shadow: 5px 0px 5px rgba(0, 0, 0, 0.745);
}

.navbar-brand {
  color: #fff;
}

.btn-outline-success {
  margin-left: 15px;
  color: #fff;
}

.navbar-collapse {
  display: contents;
}

.nav-link {
  color: #fff;
  cursor: pointer;
  border-radius: 10px;
  border: none;
}

.nav-link:hover {
  color: #fff;
  text-decoration: underline;
}

.banner_main {
  background: url(../images/banner.jpg);
  background-repeat: no-repeat;
  min-height: 700px;
  background-size: 100% 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.container-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

h1 {
  color: #ffffff;
  font-size: 50px;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.pic-info {
  display: flex;
  flex-direction: row;
  filter: grayscale(50%);
  width: 250px;
  height: 250px;
  margin: 10px;
  border-radius: 20px;
}

.pic-info img {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  filter: drop-shadow(2px 4px 6px black);
}

.price {
  width: 100%;
  margin: 20px;
}

.price-table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
  border: 2px solid;
}

.price-table th {
  background-color: #2196f3;
  color: white;
  padding: 10px;
  text-align: left;
}

.price-table td {
  border: 1px solid #ddd;
  padding: 10px;
}

.services-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.price-pic img {
  width: auto;
  border-radius: 20px;
  margin: 20px;
  filter: drop-shadow(2px 4px 6px black);
}
.container-pic {
  display: flex;
  flex-direction: row;
  animation: scroll 40s linear infinite;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

@media (max-width: 768px) {
  h1 {
    font-size: 20px;
  }
  .services-container {
    flex-direction: column;
    padding: 10px;
  }

  .price-pic img {
    width: 100%;
    height: auto;
    margin: 0;
  }
}
